xsiam_pc_playbooks/Prisma_Cloud_-_Asset_Enrichment_v2_copy.yml
id: 422466e8-39f1-49dd-8276-a384ac8a352d
version: 1
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: Prisma Cloud by Palo Alto Networks
    itemVersion: 4.3.3
    fromServerVersion: 6.10.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
vcShouldKeepItemLegacyProdMachine: false
name: Prisma Cloud - Asset Enrichment v2_copy
description: |-
  This playbook handles alerts of internet exposed services and detect potential risky configurations that can make your cloud environment vulnerable to attacks, and
  alerts of unusual network and user activity for all users, and are especially critical for privileged users and assumed roles where detecting unusual activity may indicate the first steps in a potential misuse or account compromise.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: d9bc4e96-d2ed-4f09-8dd6-eeb609af164a
    type: start
    task:
      id: d9bc4e96-d2ed-4f09-8dd6-eeb609af164a
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: bf3d9c0a-900c-40cb-8755-83bd2b42acd3
    type: title
    task:
      id: bf3d9c0a-900c-40cb-8755-83bd2b42acd3
      version: -1
      name: Enrichment
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
      - "47"
      - "51"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": -300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: e0d9cbd4-51c1-4f84-8a7c-e0c4fa429a4f
    type: playbook
    task:
      id: e0d9cbd4-51c1-4f84-8a7c-e0c4fa429a4f
      version: -1
      name: Cloud Enrichment - Generic
      description: |2-

        ## Generic Cloud Enrichment Playbook

        The **Cloud Enrichment - Generic Playbook** is designed to unify all the relevant playbooks concerning the enrichment of information in the cloud. It provides a standardized approach to enriching information in cloud environments.

        ### Supported Blocks

        1. **Cloud IAM Enrichment - Generic**
           - Enriches information related to Identity and Access Management (IAM) in the cloud.

        2. **Cloud Compute Enrichment - Generic**
           - Enriches information related to cloud compute resources.

        The playbook supports a single CSP enrichment at a time.
      playbookName: Cloud Enrichment - Generic
      type: playbook
      iscommand: false
      brand: ""
    scriptarguments:
      cloudProvider:
        simple: ${alert.cloudprovider.[0]}
      instanceID:
        simple: ${PrismaCloud.Alert.resource.id}
      instanceName:
        simple: ${PrismaCloud.Alert.resource.account}
      region:
        simple: ${PrismaCloud.Alert.resource.regionId}
      username:
        simple: ${alert.usernames}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 450,
          "y": 40
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 65e49e41-af71-4df0-8d36-8fe78b7bd135
    type: regular
    task:
      id: 65e49e41-af71-4df0-8d36-8fe78b7bd135
      version: -1
      name: Prisma alert enrichment
      description: Gets the details of an alert based on the alert ID.
      script: '|||prisma-cloud-alert-get-details'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "35"
      - "40"
      - "11"
    scriptarguments:
      alert_id:
        simple: ${alert.external_id}
      detailed:
        simple: "true"
      using:
        simple: ${alert.sourceInstance}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 900,
          "y": -150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: First Seen
      output:
        simple: ${PrismaCloud.Alert.firstSeen}
    - incidentfield: Last Seen
      output:
        simple: ${PrismaCloud.Alert.lastSeen}
    - incidentfield: Alert Rules
      output:
        simple: ${PrismaCloud.Alert.alertRules}
    - incidentfield: Account Name
      output:
        simple: ${PrismaCloud.Alert.resource.account}
    - incidentfield: Account ID
      output:
        simple: ${PrismaCloud.Alert.resource.accountId}
    - incidentfield: Referenced Resource Name
      output:
        simple: ${PrismaCloud.Alert.resource.rrn}
    - incidentfield: Region ID
      output:
        simple: ${PrismaCloud.Alert.resource.regionId}
    - incidentfield: Region
      output:
        simple: ${alert.prisma_region.[0]}
    - incidentfield: Resource Type
      output:
        simple: ${PrismaCloud.Alert.resource.resourceType}
    - incidentfield: System Default Policy
      output:
        simple: ${PrismaCloud.Alert.policy.systemDefault}
    - incidentfield: Resource URL
      output:
        simple: ${PrismaCloud.Alert.resource.url}
    - incidentfield: Last Seen
      output:
        simple: ${PrismaCloud.Alert.lastSeen}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: a8abb130-5c00-4e2d-8ce6-0a0ebcb2cdd1
    type: condition
    task:
      id: a8abb130-5c00-4e2d-8ce6-0a0ebcb2cdd1
      version: -1
      name: Host RRN has received from Prisma?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "36"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: PrismaCloud.Alert.resource.rrn
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 900,
          "y": 40
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: 405b8a33-26a1-411f-8e83-57862bf5bd77
    type: regular
    task:
      id: 405b8a33-26a1-411f-8e83-57862bf5bd77
      version: -1
      name: Get host findings
      description: Get resource host finding list.
      script: '|||prisma-cloud-host-finding-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "55"
    scriptarguments:
      all_results:
        simple: "true"
      rrn:
        simple: ${PrismaCloud.Alert.resource.rrn}
      using:
        simple: ${alert.sourceInstance}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 900,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 3e1a3c93-9ca7-4637-8357-4a68f68799a6
    type: condition
    task:
      id: 3e1a3c93-9ca7-4637-8357-4a68f68799a6
      version: -1
      name: Is Part of Alert Rule?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "41"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: PrismaCloud.Alert.alertRules
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 40
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 93606c69-a0af-4702-874b-43d7e21bd522
    type: regular
    task:
      id: 93606c69-a0af-4702-874b-43d7e21bd522
      version: -1
      name: Map Alert Rules
      description: Accepts a json object and returns a markdown.
      scriptName: JsonToTable
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      extend-context:
        simple: prismaalertrules=
      value:
        simple: ${PrismaCloud.Alert.alertRules}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: Alert Rules
      output:
        simple: ${prismaalertrules}
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: df15d3f4-47d8-4b85-86b6-a4780bdcba30
    type: regular
    task:
      id: df15d3f4-47d8-4b85-86b6-a4780bdcba30
      version: -1
      name: Check for IAM permisions
      description: Get permission list. You must provide either "query" or "next_token".
      script: '|||prisma-cloud-permission-list'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      query:
        simple: config from iam where source.cloud.resource.name = '${alert.prisma_resource_name}'
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -270,
          "y": -120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 17935676-61e9-47d7-8f98-830313859119
    type: condition
    task:
      id: 17935676-61e9-47d7-8f98-830313859119
      version: -1
      name: any IAM results?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "58"
      "yes":
      - "49"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThan
          left:
            value:
              complex:
                root: PrismaCloud
                accessor: Permission
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "1"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -270,
          "y": 60
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: afb5ea8a-cca0-4d91-8043-01bdbc462cab
    type: regular
    task:
      id: afb5ea8a-cca0-4d91-8043-01bdbc462cab
      version: -1
      name: Prepare Array
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      key:
        simple: prisma_permissions_array
      value:
        complex:
          root: PrismaCloud.Permission
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PrismaCloud.Permission
                iscontext: true
          transformers:
          - operator: splice
            args:
              deleteCount:
                value:
                  simple: "1"
              index:
                value:
                  simple: "0"
              item: {}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -460,
          "y": 260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: bd1bfaed-6434-4270-898c-30595faf4b4c
    type: regular
    task:
      id: bd1bfaed-6434-4270-898c-30595faf4b4c
      version: -1
      name: Populate IAM to grid
      description: Creates a Grid table from items or key-value pairs.
      scriptName: SetGridField
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      columns:
        simple: "Source Service,Source Resource,Granted By Entity Type,Granted By
          Entity \nName,Granted By Policy Type,Granted By Policy Name,Source Cloud
          Account,Dest Cloud Account,Action,Destination,Last Access"
      context_path:
        simple: prisma_permissions_array
      grid_id:
        simple: prismacloudiamresults
      keys:
        simple: sourceCloudServiceName,sourceResourceName,grantedByCloudEntityType,grantedByCloudEntityName,grantedByCloudPolicyType,grantedByCloudPolicyName,sourceCloudAccount,destCloudAccount,effectiveActionName,destResourceType,lastAccessStatus
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -460,
          "y": 440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: e91e1b6a-8956-4f98-8406-7317cf439acf
    type: title
    task:
      id: e91e1b6a-8956-4f98-8406-7317cf439acf
      version: -1
      name: Asset Public IP
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "52"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1270,
          "y": -120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: d0280df0-28c8-4e64-8c49-d35c2c45d6b1
    type: condition
    task:
      id: d0280df0-28c8-4e64-8c49-d35c2c45d6b1
      version: -1
      name: Check CSP type
      description: ' '
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      azure:
      - "53"
      gcp:
      - "54"
    separatecontext: false
    conditions:
    - label: aws
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: alert.cloudprovider
                accessor: '[0]'
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: aws
    - label: gcp
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: alert.cloudprovider
                accessor: '[0]'
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: gcp
    - label: azure
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: alert.cloudprovider
                accessor: '[0]'
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: azure
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 60
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: ef2dbf4d-3414-4759-816f-540c4806099b
    type: regular
    task:
      id: ef2dbf4d-3414-4759-816f-540c4806099b
      version: -1
      name: Check for Public IP on asset
      description: Search configuration inventory on the Prisma Cloud platform using
        RQL language. Use this command for all queries that start with "config". When
        no absolute time nor relative time arguments are provided, the default time
        range is all times.
      script: '|||prisma-cloud-config-search'
      type: regular
      iscommand: true
      brand: ""
    scriptarguments:
      query:
        simple: config from cloud.resource where api.name = 'azure-vm-list' AND json.rule
          = ['properties.networkProfile'].networkInterfaces[*].ipConfigurations[*].publicIpAddress
          exists and ['properties.osProfile'].computerName equals "${alert.prisma_resource_name}"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1000,
          "y": 240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: 04b7212f-7285-4922-81eb-fbd0f1c2a898
    type: regular
    task:
      id: 04b7212f-7285-4922-81eb-fbd0f1c2a898
      version: -1
      name: Check for Public IP on asset
      description: Search configuration inventory on the Prisma Cloud platform using
        RQL language. Use this command for all queries that start with "config". When
        no absolute time nor relative time arguments are provided, the default time
        range is all times.
      script: '|||prisma-cloud-config-search'
      type: regular
      iscommand: true
      brand: ""
    scriptarguments:
      query:
        simple: config from cloud.resource where api.name = 'gcloud-compute-instances-list'
          AND json.rule = networkInterfaces[*].accessConfigs[*].natIP size greater
          than 0 and networkInterfaces[*].accessConfigs[*].natIP none empty and id
          equals "${alert.prisma_resource_name}"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1560,
          "y": 240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: Detected External IPs
      output:
        complex:
          root: PrismaCloud.Config.hasExternalFinding
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: PrismaCloud.Config.hasExternalFinding
                iscontext: true
    - incidentfield: Detected External IPs
      output:
        complex:
          root: PrismaCloud.Config
          filters:
          - - operator: isEmpty
              left:
                value:
                  simple: PrismaCloud.Config.hasExternalFinding
                iscontext: true
          accessor: rrn
          transformers:
          - operator: concat
            args:
              prefix:
                value:
                  simple: "No"
              suffix:
                value:
                  simple: Results
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: 89eb08b0-bc29-4883-84fa-c8099c3f4f65
    type: condition
    task:
      id: 89eb08b0-bc29-4883-84fa-c8099c3f4f65
      version: -1
      name: are there any findings?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "57"
      "yes":
      - "56"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              complex:
                root: PrismaCloud
                accessor: HostFinding
                transformers:
                - operator: count
            iscontext: true
          right:
            value:
              simple: "1"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 900,
          "y": 410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 7eed0605-eb72-4284-83b5-7ae2c92b5b24
    type: regular
    task:
      id: 7eed0605-eb72-4284-83b5-7ae2c92b5b24
      version: -1
      name: Populate findings grid
      description: Creates a Grid table from items or key-value pairs.
      scriptName: SetGridField
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      columns:
        simple: Title,Normalized Name,Source,Type,Score,Severity
      context_path:
        simple: PrismaCloud.HostFinding
      grid_id:
        simple: prismacloudfindingsresults
      keys:
        simple: cveId,score,severity,description,nvdUrl,status
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1100,
          "y": 600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: 3435de4c-5a8c-492b-8a57-2eba2de7dd33
    type: regular
    task:
      id: 3435de4c-5a8c-492b-8a57-2eba2de7dd33
      version: -1
      name: Done
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      value:
        simple: No findings found
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 690,
          "y": 600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: ea04eb0c-38f6-4af6-89b6-551fc9ad40d4
    type: regular
    task:
      id: ea04eb0c-38f6-4af6-89b6-551fc9ad40d4
      version: -1
      name: Done
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      value:
        simple: no IAM results
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -40,
          "y": 260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1125,
        "width": 3260,
        "x": -1560,
        "y": -430
      }
    }
  }
inputs:
- key: CreateTicket
  value:
    simple: "False"
  required: false
  description: Whether to create a ticket in ZenDesk or ServiceNow. Insert True or
    False
  playbookInputQuery: null
- key: StopForRecommendations
  value:
    simple: "True"
  required: false
  description: ""
  playbookInputQuery: null
- key: EarlyContainment
  value:
    simple: "True"
  required: false
  description: Whether to perform early containment.
  playbookInputQuery: null
- key: CloudResponse
  value:
    simple: "False"
  required: false
  description: Whether to perform cloud response.
  playbookInputQuery: null
- key: serviceNowShortDescription
  value: {}
  required: false
  description: A short description of the ticket.
  playbookInputQuery: null
- key: serviceNowImpact
  value: {}
  required: false
  description: The impact for the new ticket. Leave empty for ServiceNow default impact.
  playbookInputQuery: null
- key: serviceNowUrgency
  value: {}
  required: false
  description: The urgency of the new ticket. Leave empty for ServiceNow default urgency.
  playbookInputQuery: null
- key: serviceNowSeverity
  value: {}
  required: false
  description: The severity of the new ticket. Leave empty for ServiceNow default
    severity.
  playbookInputQuery: null
- key: serviceNowTicketType
  value: {}
  required: false
  description: The ServiceNow ticket type. Options are "incident", "problem", "change_request",
    "sc_request", "sc_task", or "sc_req_item". Default is "incident".
  playbookInputQuery: null
- key: serviceNowCategory
  value: {}
  required: false
  description: The category of the ServiceNow ticket.
  playbookInputQuery: null
- key: serviceNowAssignmentGroup
  value: {}
  required: false
  description: The group to which to assign the new ticket.
  playbookInputQuery: null
- key: ZendeskPriority
  value: {}
  required: false
  description: The urgency with which the ticket should be addressed. Allowed values
    are "urgent", "high", "normal", or "low".
  playbookInputQuery: null
- key: ZendeskRequester
  value: {}
  required: false
  description: The user who requested this ticket.
  playbookInputQuery: null
- key: ZendeskStatus
  value: {}
  required: false
  description: The state of the ticket. Allowed values are "new", "open", "pending",
    "hold", "solved", or "closed".
  playbookInputQuery: null
- key: ZendeskSubject
  value: {}
  required: false
  description: The value of the subject field for this ticket.
  playbookInputQuery: null
- key: ZendeskTags
  value: {}
  required: false
  description: The array of tags applied to this ticket.
  playbookInputQuery: null
- key: ZendeskType
  value: {}
  required: false
  description: The type of this ticket. Allowed values are "problem", "incident",
    "question", or "task".
  playbookInputQuery: null
- key: ZendeskAssigne
  value: {}
  required: false
  description: The agent currently assigned to the ticket.
  playbookInputQuery: null
- key: ZendeskCollaborators
  value: {}
  required: false
  description: The users currently CC'ed on the ticket.
  playbookInputQuery: null
- key: ZenDeskDescription
  value: {}
  required: false
  description: The ticket description.
  playbookInputQuery: null
inputSections:
- inputs:
  - CreateTicket
  - StopForRecommendations
  name: Alert Management
  description: |
    Alert management settings and data,
- inputs:
  - EarlyContainment
  - CloudResponse
  name: Remediation
  description: Remediation settings and data, including containment, eradication,
    and recovery.
- inputs:
  - serviceNowShortDescription
  - serviceNowImpact
  - serviceNowUrgency
  - serviceNowSeverity
  - serviceNowTicketType
  - serviceNowCategory
  - serviceNowAssignmentGroup
  name: Ticket Management- ServiceNow
  description: Ticket management settings and data for ServiceNow
- inputs:
  - ZendeskPriority
  - ZendeskRequester
  - ZendeskStatus
  - ZendeskSubject
  - ZendeskTags
  - ZendeskType
  - ZendeskAssigne
  - ZendeskCollaborators
  - ZenDeskDescription
  name: Ticket Management - ZenDesk
  description: Ticket management settings and data for ZenDesk
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Prisma Cloud - Network API and Anomaly Incidents
dirtyInputs: true
